{% extends "base.html" %}

{% block content %}
    <h1 class="page-header">
      <small>
        侧重于Python使用、实现等方面的相关内容。
      </small>
    </h1>
    {% for article in articles_page.object_list %}
    <h2>
        <a href="{{ article.url }}">{{ article.title }}</a>
        <div class="post-date" >
            {{ article.locale_date }}
        </div>
    </h2>
    <hr>
        <p> <div class="title-desc">{{ article.summary}}</div></p>
        <p> <a href="{{ article.url }}"><span >阅读全文 &raquo; </span></a></p>
    <hr>
    {% endfor %}

    <hr>

    {% include "pagination.html" %}

    <hr>
{% endblock content %}

