          <ul class="nav navbar-nav">
            <li>
              <a href="/archives.html">
                博文列表
              </a>
            </li>
            <li>
              <a href="https://github.com/Daetalus?tab=repositories">
                项 目
              </a>
            </li>
            <li>
              <a href="/about.html">
                关 于
              </a>
            </li>
            <li>
              <a href="/cv_cn.html">
                简 历
              </a>
            </li>
            <li>
              <a href="/cv_en.html">
                Resume
              </a>
            </li>
            <li>
              <a href="/index.html">
                返回Pelican主页
            </a>
            </li>
          </ul>
